$demo-primary-palette: (
  50: #c2efdf,
  100: #98e2cb,
  200: #88d3bd,
  300: #75c2a8,
  400: #5aba9e,
  500: #46b393,
  600: #41a58b,
  700: #3a937a,
  800: #30735f,
  900: #215143,
  A100: #a7ffeb,
  A200: #64ffda,
  A400: #1de9b6,
  A700: #00bfa5,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: rgba(black, 0.87),
    A200: #fff,
    A400: #fff,
    A700: #fff,
  ),
);

$demo-accent-palette: (
  50: #ededed,
  100: #e0e0e0,
  200: #c7c6c6,
  300: #afafaf,
  400: #888989,
  500: #717070,
  600: #515151,
  700: #3f3f3f,
  800: #333333,
  900: #1e1e1e,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: rgba(black, 0.87),
    A200: #fff,
    A400: #fff,
    A700: #fff,
  ),
);

$demo-error-palette: (
  50: #eadcca,
  100: #e6d4b7,
  200: #e8cea0,
  300: #e6c584,
  400: #e1b95d,
  500: #ddaf3b,
  600: #e1ad02,
  700: #b98b0e,
  800: #8f6b14,
  900: #5b4413,
  A100: #ffffff,
  A200: #eeeeee,
  A400: #bdbdbd,
  A700: #616161,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: #fff,
    600: #fff,
    700: #fff,
    800: #fff,
    900: #fff,
    A100: rgba(black, 0.87),
    A200: #fff,
    A400: #fff,
    A700: #fff,
  ),
);
